# Install required packages
pip install langchain 
pip install langchain-google-genai 
pip install langchain_community 
pip install pypdf 
pip install chromadb 
pip install sentence-transformers -q
pip install google-generativeai 
pip install pdfplumber -q
pip install streamlit
